

* {
    outline: none !important;
}

// fonts
@import 'modules/fonts';

// bootstrap
@import "bootstrap";
@import 'modules/extend';


body{
    font-family: $font-family-myriadPro;
}


ul, ol {
    list-style: none;
    padding-left: 0;
}

a, a:hover {
    text-decoration: none;
}

a img,
:link img {
    border: 0;
}

address {
    font-style: normal;
}

fieldset {
    border: 0;
}

// we don't want the yellow background of webkit
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}


body{
    background: red url("../images/img.jpeg");
}








@media print {
    .container {
        width: auto;
    }
}








// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {

}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {

}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {

}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {

}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {

}
