

// Bootstrap and its default variables
@import "~bootstrap/scss/variables";


//theme variables

// Body
$body-bg: #fff;

// colors-map

$primary: #0273d9;

// Create your own map
$custom-colors: (
        "primary": $primary
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
